$primary      : #e1db2c;
$primary-2    : #a5a038;
$primary-hover: #f6f035;

$secondary: #888282;

$background  : #f2f2ec; //common
$background-1: #93932e1c;
$background-2: #dee1e6; //menu-notify-count
$background-3: #c5c5b7; //menu-active, unallow