@import '../../assets/scss/colors.scss';

.friend-list-container {
    // .option-list {
    //     height             : 35px;
    //     border-top         : 1px solid;
    //     border-bottom-style: ridge;
    //     display            : flex;

    //     .total-list {
    //         margin: auto 10px;

    //         span {
    //             font-weight: 600;
    //         }
    //     }

    // }
}


.contact-container {
    margin: 30px;

    .contact-list {
        margin-top: 30px;
        overflow-y: auto;
        overflow-x: hidden;
        height    : calc(100vh - 158px);

        .user-single {
            display         : flex;
            align-items     : center;
            justify-content : space-between;
            background-color: $background-1;
            padding         : 10px;
            border-radius   : 10px;
            margin-bottom   : 15px;

            &__avatar {
                img {
                    width        : 70px;
                    height       : 70px;
                    border-radius: 50%;
                }
            }

            &__info {
                padding: 0 20px;
                width  : 58%;

                .info--name,
                .info--preview-message {
                    white-space  : nowrap;
                    overflow     : hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 5px;
                }
            }

            .resolve {
                display        : flex;
                gap            : 5px;
                flex-wrap      : wrap;
                justify-content: flex-end;

                .button-refuse {
                    background-color: $background;

                    &:hover {
                        background-color: $primary-hover;
                        cursor          : pointer;
                    }
                }
            }
        }


    }

    @media screen and (max-width: 575px) {
        .user-single {
            &__avatar {
                img {
                    width : 50px;
                    height: 50px;
                }
            }

            &__info {
                padding: 0 10px;
            }

            .resolve {
                font-size: 14px;

                .button {
                    padding: 5px 10px;
                }
            }
        }
    }

    @media screen and (max-width: 786px) {
        .contact-list {
            height: calc(100vh - 210px);
        }
    }
}