@import '../../assets/scss/colors.scss';


.body-container {
    background-color: $background;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-start;
    height          : fit-content;

    .contact-list {
        margin-top     : 20px;
        padding        : 10px;
        min-height     : 300px;
        display        : flex;
        flex-direction : column;
        justify-content: space-between;
        align-items    : center;

        .user-single {
            text-align      : center;
            background-color: $background-1;
            padding         : 10px;
            border-radius   : 10px;
            width           : 100%;

            &__avatar {
                height: 130px;

                img {
                    width        : 130px;
                    height       : 130px;
                    border-radius: 50%;
                }
            }
        }

        .button {
            width: fit-content;
        }
    }
}

.find-user {
    display        : flex;
    justify-content: space-around;

    &__phone {

        label {
            margin-right: 10px;
        }

        input#phone {
            padding      : 5px;
            padding-left : 10px;
            border-radius: 10px;
            border       : 1px solid $primary;
            outline-color: $primary-hover;
        }
    }
}