// html {
//     background: url("../../assets/img/bg-login.jpg") no-repeat;
// }

// .login-background {
//     background: url("../../assets/img/bg-login.jpg") no-repeat;
// }

section.login {
    text-align   : center;
    margin       : 10% auto;
    background   : linear-gradient(135deg, #21dcde 0%, #e5ad34 100%);
    width        : 35%;
    border-radius: 15px;

    h1 {
        padding: 20px 0;
        color  : white;
    }

    form#login-form {
        margin         : 10px auto;
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;
        flex-direction : column;
        align-items    : center;

        .form-content {
            display  : flex;
            padding  : 1rem 2rem;
            flex-wrap: wrap;

            label {
                font-weight : 600;
                margin-right: 20px;
            }

            input {
                padding      : 5px 10px;
                border-radius: 15px;
                border       : navajowhite;
                outline-color: #e1db2c;
                width        : 100%;
            }
        }

        button {
            margin          : 20px;
            padding         : 5px 50px;
            border-radius   : 25px;
            background-color: #e1db2c;
            border          : none;

            &:hover {
                background-color: #e1da0b;
                cursor          : pointer;
            }
        }
    }

    .register-case {
        padding: 20px;
    }
}

@media screen and (max-width:768px) {
    section.login {
        width: 40%;
    }
}

@media screen and (max-width:575px) {
    section.login {
        width: 58%;
    }
}