section.register {
    text-align   : center;
    margin       : 6% auto;
    background   : linear-gradient(135deg, #22c1c3 0%, #fdbb2d 100%);
    width        : 40%;
    border-radius: 15px;
    padding-top  : 1rem;

    .logo {
        margin         : 0 auto;
        width          : 178px;
        height         : 68px;
        background     : url(../../assets/img/logo.png) center no-repeat;
        background-size: contain;
    }

    h1 {
        padding: 20px 0;
        color  : white;
    }

    form#register-form {
        margin: 10px auto;
        margin: 2rem;

        table {
            height: 300px;
            margin: 0 auto;

            .form-content {
                margin-bottom: 30px;
                text-align   : left;

                .avatar-preview {
                    width        : 68px;
                    height       : 68px;
                    border       : 1px solid;
                    border-radius: 50%;
                    margin       : 0 auto;

                    img {
                        width        : 100%;
                        height       : 100%;
                        border-radius: 50%;
                    }
                }

                label {
                    font-weight : 600;
                    margin-right: 20px;
                }

                input {
                    padding      : 5px 10px;
                    border-radius: 15px;
                    border       : navajowhite;
                    outline-color: #e1db2c;
                    width        : 100%;
                }
            }
        }

        /* display      : flex; */

        .errmsg {
            color        : #e00606;
            margin-bottom: 0;
            font-weight  : 500;
        }

        .offscreen {
            display: none;
        }

        button {
            margin          : 20px;
            padding         : 5px 50px;
            border-radius   : 25px;
            background-color: #e1db2c;
            border          : none;

            &:hover {
                background-color: #e1da0b;
                cursor          : pointer;
            }
        }
    }

    .login-case {
        padding: 20px;
    }
}

@media screen and (max-width:992px) {
    section.register {
        width: 58%;
    }
}

@media screen and (max-width:575px) {
    section.register {
        width: 78%;
    }
}

@media screen and (max-width:500px) {
    section.register {
        width: 90%;
    }
}