.footer-container {
    display        : flex;
    justify-content: space-between;
    margin         : 0.5rem 2rem;

    .copyright {}

    .information {
        &__content {
            display: flex;
            gap    : 1rem;

            a {
                color: black;
            }
        }
    }
}